@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .timeline {
    @apply flex-[0_0_50%] border-x border-solid border-[#2f3336];
  }

  .header {
    @apply px-6 py-4 flex items-center justify-between border-b border-[#2f3336];
  }

  .top-tweets {
    @apply w-6 h-auto;
  }

  .page-title {
    @apply text-xl font-bold;
  }

  .tweet-editor {
    @apply flex items-start content-start gap-5 px-[0.3rem] py-4 border-b border-[#2f3336];
  }

  .avatar {
    @apply flex-[0_0_70px];
  }

  .tweet-editor-form {
    @apply flex-auto;
  }

  .avatar img {
    @apply w-full h-full rounded-full;
  }

  .tweet-editor-input {
    @apply h-[60px] w-full border-none outline-none text-xl bg-black text-white resize-none pt-2.5 mt-3 mb-3;
  }

  .tweet-editor-buttons {
    @apply flex items-center justify-between;
  }

  .tweet-editor-actions {
    @apply flex items-center justify-between gap-4;
  }

  .tweet-editor-actions button {
    @apply bg-transparent border-none;
  }

  .button {
    @apply capitalize px-6 py-2.5 border-none rounded-[50px] bg-[#1d9bf0] text-white text-base;
  }

  .tweet {
    @apply flex justify-start items-start gap-5 px-6 py-4 border-b border-solid border-[#2f3336];

    .tweet-content {
      @apply flex-col items-start justify-start gap-[30px] w-full;
    }

    .tweet-body {
      @apply flex-col gap-2;
    }

    .tweet-title {
      @apply flex content-start items-start gap-2.5 text-base;
    }

    .tweet-title-author {
      @apply text-base;
    }

    .tweet-title-details {
      @apply text-[#6e767d];
    }

    .tweet-text {
      @apply text-[#d9d9d9] text-base;
    }

    .tweet-image {
      @apply w-full p-[0.3rem_0_0_0];
    }

    .tweet-actions {
      @apply flex justify-center items-center gap-[5rem] text-[grey] text-base;
    }

    .tweet-actions svg {
      @apply w-8 h-auto text-[#2f3336];
    }

    .tweet-action {
      @apply flex items-center justify-center gap-5;
    }
  }
}

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
}
#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  position: relative;
  background: #000000;
  padding-left: 100px;
}

.menu-button {
  position: relative;
  display: flex;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.bouton {
  text-transform: capitalize;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

.trend,
.follow {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202327;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.trend p,
h4 {
  margin: 5px;
}

.trends-body,
.follow-body {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.trend-title {
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: #202327;
  padding: 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.search input {
  border: none;
  outline: none;
  color: white;
  font-size: large;
}

.trend-more {
  color: #1d9bf0;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.follow-button button {
  padding: 5px 20px;
  border-radius: 50px;
  color: black;
  border: transparent;
  font-size: medium;
}

.follow-body {
  display: flex;
}

.follow-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.follow p,
h4 {
  margin: 5px;
}

.follow-titles {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.follow p,
.trend p {
  color: #8a8a8a;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  color: #8a8a8a;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
}

.footer1,
.footer2 {
  display: flex;
  gap: 15px;
}

.hover {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
